.container-ctn-product {
    display: flex;
    justify-content: center;
    /* align-items:center; */
    position: relative;
    top: 280px;
    width: 100%;
    margin: 0 auto;

}

.container-product-item {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    height:600px;
    overflow: hidden scroll;
}

.title-cart {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    top: 250px;
    left: 500px;
    margin-bottom: 40px;
    /* top: 190px; */
    /* border:  1px solid black; */
}

.product-item {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.content-img-item, .content-info-item {
    width: 250px;
    margin-right: 20px;
}

.content-img-item img {
    width: 100%;
    object-fit: cover;
}

.content-info-item {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.content {
    font-size: 1.4rem;
    font-weight: 600;
}

.content-quantity input {
    width: 40px;
    font-size: 20px;
}

.content-category input {
    border: none;
    font-size: 25px;
    width: 48px;
}

.form-select {
    font-size: 20px;
}

.content-category, .content-quantity, .content-price,.add-list-love {
    font-size: 1.2rem;
    margin-top: 5px;
}
.add-list{
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.add-list:active {
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    background-color: rgb(255, 0, 200);
    border-radius: 5px;
    padding: 5px;
}
.edit, .save {
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
}

.edit, .save {
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.edit {
    background-color: rgba(255, 0, 0, 0.598);
}

.edit:active {
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    background-color: red;
    border-radius: 5px;
    padding: 5px;
}

.save:active {
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    background-color: rgb(21, 255, 0);
    border-radius: 5px;
    padding: 5px;
}

.btn-primary {
    display: flex;
    flex-direction: column;
}

.form-info-total-and-btn {
    font-size: 25px;
    margin-left:30px;
}

/* information total cart */
.summary {
    font-size: 30px;
    font-weight: 700;
}


.line-black {
    margin: 0 auto;
    width: 100%;
    background-color: black;
    height: 1px;
}

.contain-summary, .total-price, .price-ship, .line-black, .total-all {
    margin-bottom:20px;
}

.payment-btn {
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.payment-btn:active {
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    background-color: rgb(21, 255, 0);
    border-radius: 5px;
    padding: 5px;
}
.delete-all{
    display: inline-block;
    border: 1px solid rgba(170, 0, 102, 0.849);
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.delete-all:active {
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    background-color: rgb(255, 0, 123);
    border-radius: 5px;
    padding: 5px;
}
.navigation ul li {
    box-sizing: border-box;
    /* margin-left: 150px; */
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    color:rgb(7, 7, 7);
    background-color:white;
}
.navigation ul li:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
}