.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {

    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance: none;
    appearance: none;
}

.custom-select select::-ms-expand {
    display: none;
}