.container-details-product {
    position: relative;
    top: 250px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.content-image {
    display: inline-block;
    width: 60%;
}

.box-double-image {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.item-image {
    margin-right: 5px;
    width: 450px;
}

.item-image img {
    width: 100%;
    object-fit: cover;
}

.content-informations {
    margin-left: 60px;
}

.info-name {
    font-size: 30px;
}

.info-name, .info-gender, .info-color, .info-price, .custom-select, .btn {
    margin-top: 20px;
}
.details-info{
    margin-top:60px;
}
.custom-select{
    display: flex;
    flex-direction: row;
}
.selected-size{
    margin-left:20px;
}

.btn-dt span{
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    border-radius: 5px;
    padding: 5px;
    width:350px;
    text-align: center;
    margin-top:10px ;
    cursor: pointer;
}
.btn-dt span:active{
    display: inline-block;
    border: 1px solid rgba(170, 170, 0, 0.849);
    background-color:rgba(170, 170, 0, 0.849);
    border-radius: 5px;
    padding: 5px;
}