@media only screen and (max-width:1440px) {
    .search-box {
        position: absolute;
        right: 200px;
        width: 200px;
        height: 35px;
        background-color: #f7f7f7;
        border-radius: 20px;
        top: 30px;
    }

    .contain-box-input {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e1e0e0;
        border-radius: 20px;
    }

    .search-box input {
        width: 90%;
        height: 30px;
        border: none;
        padding: 10px;
        font-size: 15px;
        outline: none;
        border-radius: 10px;
        background-color: #e1e0e0;
        font-weight: 600;
    }

    .contain-product-item {
        display: flex;
        flex-wrap: wrap;
    }
}

/* media queries  */

@media (max-width:991px) {

    .navigation ul li {
        font-size: 21px;
    }
    .all-product{
        flex-wrap: wrap;
    }
    .simplebar-content{
        width: 95%;
        text-align: center;
    }
    .size,
    .color-shoe{
        justify-content: center;
    }

    .item-content-title{
        font-size: 45px;
    }

    .item-content {
        top: 67%;
        
    }
    
    .item-date {
        top: 70%;

    }
}

@media (max-width:768px) {
    .header{
        justify-content: flex-start;
    }
    .logo {
        margin-left: 0;
    }

    .navigation{
        display: none;
    }

    .navigation ul li {
        background-color: rgba(0, 0, 0, .4);
        font-size: 16px;
        width: 100%;
        text-align: center;
    }



    .navigation ul div{
        width: 100%;
        background-color: rgba(0, 0, 0, .4);
    }

    .navigation ul .th .list-th{
        display: none;
    }

    .navigation ul .th:hover .list-th{
        display: block;
    }

    .navigation ul{
        flex-wrap: wrap;
        
    }

    .progress-container{
        display: none;
    }

    .nav-content-search,
    .nav-content-account{
        display: inherit !important;
        justify-content: center;
    }

    .quit-and-user,
    .search-box {
        display: none;
    }

    #menubtn {
        display: inherit;
        color: black;
    }
    .hero-section{
        display: none;
    }
    .all-content-product{
        margin-top: 50px;
    }
    
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .hero-section{
        display: none;
    }

    .all-content-product{
        margin-top: 50px;
    }

    #menubtn {
        color: black;
    }

    .footer {
        text-align: center;
    }

}