* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hubballi", cursive;
}
*{
    font-family: 'Roboto Slab', serif;
}
html {
    scroll-behavior: smooth;
}


/* scroll bar =================================================================================================*/


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(155, 148, 148);
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(122, 118, 118, 0.671);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #585757;
}


/* end scroll bar================================================================================================*/


/* navigation-header---------------------------------------- */

nav {
    position: relative;
    width: 100%;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    /* top: -80px; */
}

.container {
    width: 100%;
    height: 0px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
}

.logo {
    width: 160px;
    margin-left: 70px;
    margin-top: 25px;
}

.logo img {
    width: 100%;
    object-fit: cover;
    /* color: #fff; */
}

ul {
    list-style: none;
}

.progress-container {
    /* position: fixed; */
    margin-top: 20px;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
}

.progress-bar {
    height: 2px;
    background: #f8f8f8;
    width: 0%;
}


/* search-box--------------------- */

.search-box {
    position: absolute;
    right: 650px;
    width: 550px;
    height: 45px;
    background-color: #f7f7f7;
    border-radius: 20px;
    top: 30px;
}

.contain-box-input {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e0e0;
    border-radius: 20px;
}

.search-box input {
    width: 90%;
    height: 30px;
    border: none;
    padding: 10px;
    font-size: 25px;
    outline: none;
    border-radius: 4px;
    background-color: #e1e0e0;
    font-weight: 600;
}


/* end search-box-------------------- */



.icon-nav {
    margin-top: 35px;
}

.fa-magnifying-glass {
    font-size: 18px;
}

.icon-nav .quit-and-user {
    position: relative;
    right: 50px;
}

.icon-nav .quit-and-user .fa-circle-user {
    margin-right: 15px;
}

.fa-cart-shopping,
.fa-circle-user,
.fa-right-from-bracket {
    color: black;
}


/* navigation-header end------------------------------------------------ */

.navigation {
    position: relative;
    top: 70px;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
}

.navigation ul {
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    box-sizing: border-box;
}

.navigation ul li {
    box-sizing: border-box;
    margin-left: 150px;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}

.navigation ul li:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
}

.list-th{
    visibility: hidden;
}
.th:hover .list-th{
    visibility: visible;
}
.nav-content{
    height:60px;
}
/* slider ----------- */

.hero-section {
    position: relative;
}

.hero-slide-item {
    position: relative;
    overflow: hidden;
}

.hero-slide-item:before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: radial-gradient( ellipse, #1414143b 5%, #14141493 13%, #313131b7 70%);
}

.hero-slide-item img {
    width: 100%;
    height: 920px;
    object-fit: cover;
    object-position: initial;
}

.carousel-nav-center {
    position: relative;
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.6);
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    /* text-align: center; */
    border: none;
    outline: none;
}

.owl-nav button span {
    border-radius: 50%;
}

.owl-nav button i:hover {
    color: rgba(255, 255, 255, 1);
    /* color: var(--main-color); */
}


/* title items */

.item-content-title {
    position: absolute;
    top: 60%;
    left: 200px;
    color: white;
    font-size: 70px;
    font-weight: 700;
}


/* item information */

.item-infos {
    position: absolute;
    top: 22%;
    right: 0;
}

.item-info {
    position: absolute;
    top: 25%;
    right: 100px;
    width: 300px;
    height: 90px;
}

.item-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-vmashunter {
    width: 300px;
    height: 50px;
}

.item-content {
    position: absolute;
    top: 72%;
    left: 230px;
    color: white;
    margin-top: 10px;
    font-size: 1.2rem;
}

.item-date {
    position: absolute;
    top: 75%;
    left: 230px;
    color: white;
    margin-top: 15px;
    font-size: 1.2rem;
}

.item-button {
    position: absolute;
    top: 80%;
    left: 220px;
    color: white;
}

.item-button button {
    border: none;
    margin-top: 30px;
    font-size: 2.5rem;
    border-radius: 10px;
    font-weight: 600;
    padding: 0px 30px;
}

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    /* delay style*/
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}


/* end item information */


/* end slider ----------- */


/* top up -------------------*/

.top-up {
    position: absolute;
    bottom: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.material-icons-outlined {
    font-size: 40px !important;
    border-radius: 50%;
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 100px;
    right: 20px;
    cursor: pointer;
    transition: .4s ease-in-out;
    transform: translateY(-50px);
}

.icon-chat {
    margin-top: 10px;
    background-color: white;
    color: black;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    position: fixed;
    bottom: 40px;
    transform: translateY(0px);
}


/* end top up ------------------- */